@{
    ViewData["Title"] = "Confirmação para apagar Dados";
}

<div class="text-center">
    <h3>Deseja realmente apagar os dados?</h3>
</div>
<br />
<hr />
<a class="btn btn-warning btn-block"role="button"asp-controller="Candidato"asp-action="Index">Cancelar</a>
<a class="btn btn-secondary btn-block"role="button"asp-controller="Candidato"asp-action="Apagar">Confirmar</a>
