@{
     ViewData["Title"] = "Pagina Inicial";
}
<div class="text-center">
    <h3 class="display-4">Bem vindo ao nosso Banco de Talentos!</h3>
    <h4>Aqui, o seu Talento tem Valor!</h4>
    <br>
    <hr />
</div>